* {
          box-sizing: border-box;
        }
 
        body {
          font-family: Arial;
          padding: 10px;
          background: #ffffff;
        }
        /*导航栏*/
        .topnav {
          overflow: hidden;
          background-color: rgb(4, 240, 240);
          
        }
 
        /* 导航条链接 */
        .topnav a {
          float: left;
          display: block;
          color: #f2f2f2;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
 
       /* 链接颜色修改 */
       .topnav a:hover {
         background-color: rgb(203, 247, 6);
       }
        /* 导航栏搜索框 */
       .topnav input[type=text] {
         float: right;
         padding: 6px;
         border: none;
         margin-top: 8px;
         margin-right: 16px;
         font-size: 17px;
       }     

        /* 创建两列 */
        /* Left column */
        .leftcolumn {   
          float: left;
          width: 75%;
        }
 
        /* 右侧栏 */
        .rightcolumn {
          float: left;
          width: 25%;
          background-color: #f1f1f1;
          padding-left: 20px;
        }

        /* 列后面清除浮动 */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }

        /* 响应式布局 - 屏幕尺寸小于 1000px 时，两列布局改为上下布局 */
        @media screen and (max-width: 1000px) {
          .leftcolumn, .rightcolumn {   
            width: 100%;
            padding: 0;
          }
        }
    
      a:link,a:visited{
       text-decoration:none; 
      color:black; /*超链接无下划线*/
      }
      a:hover{
       text-decoration:none;
       color:crimson;  /*鼠标放上去有下划线*/
      }
     
      #panel,#flip {
        padding:5px;
        text-align:center;
        background-color:#e5eecc;
        border:solid 1px #b8b6b6;
      }
      #panel
      {
        padding:20px;
        display:none;
      }

      #txt{
        width:600px;
        height:600px;
        margin:10px auto
      }
      #lis{width:600px;
        height:300px;
        margin:10px auto;
        border:1px solid#000000;
        background: #90dbee;
      }