#bgImg {
    height: 100%;
    width: 100%;
    background: url('../image/timg.jpg') no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}
    #wz{
        position: absolute;top:60px;left:600px;
    }
    .dropdown{
        position: absolute;
        top:150px;left:600px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    